@tailwind base;
@tailwind components;
@tailwind utilities;


body{
  background: #EDF2F7;
  font-family: "Poppins", sans-serif;

}

.product-div {
  width: 100%;
}

.home-page-image-div {
  height: 30vh; /* 30% of the viewport height */
  width: 100%;
}

.product-page-image-div {
  width: 80%;
  margin: auto;
}


.overflowHidden {
  overflow: hidden;
}
#steps img {
  width: 24px;
  height: 24px;
  display: inline;
  margin-right: 5px;
}

@media (max-width: 767px) {
  .product-page-image-div {
    height: 30vh;
    width: 100%;
  }
}


/* styles.css */

ul.control-dots li.dot {
  background-color: green !important;
}

ul.control-dots li.dot.selected {
  background-color: darkgreen;
}


.slider-panel {
  animation: slide-in 0.3s ease-in-out forwards;
}

@keyframes slide-in {
  0% {
    transform: translateX(100%);
  }
  100% {
    transform: translateX(0);
  }
}

.colSpan{
  grid-column: span 1.5 !important;
}

.swiper {
  width: 600px;
  height: 300px;
}