@tailwind base;
@tailwind components;
@tailwind utilities;

body{
  overflow: hidden;
  font-family: 'Lexend Deca';
}
.paddingBody{
  padding-left: 5px;
  padding-right: 5px;
}

.mobile-image {
  position: relative;
  width: 375px; /* set the width of your mobile image */
  margin: 0 auto; /* center the mobile image */
}

.content {
  position: absolute;
  top: 50px; /* adjust the top position based on your mobile image */
  left: 20px; /* adjust the left position based on your mobile image */
  right: 20px; /* adjust the right position based on your mobile image */
  bottom: 20px; /* adjust the bottom position based on your mobile image */
  /* Add other styles for your content */
}
